<!DOCTYPE html>
<html>
<head>
    <title>Add Candidate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/add">Add Candidate</a>
    <a href="/ranking">Rankings</a>
</nav>
    <h1>Add Candidate</h1>

    <form method="POST">

        <label>Name:</label>
        <input type="text" name="name"><br><br>

        <label>CGPA:</label>
        <input type="number" step="0.1" name="cgpa"><br><br>

        <label>Aptitude Score:</label>
        <input type="number" name="aptitude"><br><br>

        <label>Technical Score:</label>
        <input type="number" name="technical"><br><br>

        <label>Interview Score:</label>
        <input type="number" name="interview"><br><br>

        <button type="submit">Submit</button>

    </form>

</body>
</html>